@{
    ViewData["Title"] = "Home Page";
}
<div class="container home">
    <div class="row align-items-center">
        <div class="col-md-6 home-text">
            <span>.Net Developer</span>
            <h1>Nandana Boban</h1>
            <p>Specializing in ASP.NET Core MVC</p>
            <div class="main-btn">
                <a href="#" class="btn btn-warning">Download CV</a>
            </div>
        </div>
        <div class="col-md-6 home-img">
            <img src="img/home.png" alt="Home Image" class="img-fluid">
        </div>
    </div>
</div>