@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="display-5 my-4">Education</h2>
            <div class="education-item">
                <h4>Bachelor of Computer Applications (BCA)</h4>
                <p><strong>Kannur University</strong></p>
                <p><strong>Year:</strong> 2021 - 2024</p>
                <p>During my time at Kannur University, I gained a comprehensive understanding of computer applications, including software development, data management, and web technologies. My coursework and projects focused on practical applications of these concepts, preparing me for a career in technology.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="display-5 my-4">Internship</h2>
            <div class="education-item mt-4">
                <h4>Intern .NET Developer</h4>
                <p><strong>Hevealhills Technologies</strong></p>
                <p><strong>Year:</strong> 2024 - Current</p>
                <p>At Hevealhills Technologies, I am involved in the development of web applications using ASP.NET Core MVC. My responsibilities include coding, debugging, and collaborating with a team to deliver high-quality software solutions. This role has significantly enhanced my practical skills and understanding of .NET development.</p>
            </div>
        </div>
    </div>
</div>

